html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fce4ec;
  background: url("https://karenfreemansmith.github.io/angular-js-starter/flowers.jpg") top center no-repeat;
  padding: 0px;
}

h1 {
  margin: 0px;
  text-align: right;
  font-family: 'Kaushan Script', cursive;
  color: #880e4f;
}

h4 {
  font-size: .8em;

}

p {
  margin: 0px;
  margin-top: 1.5em;
  font-size: 1em;
}

li strong {
  font-weight: normal;
  background: pink;
}

li {
  font-size: .9em;
}

.iframe-wrap {
  text-align:center;
  width:100%;
}

a {
  font-weight: bold;
  transition: opacity 300ms ease;
  display: inline-block;
}

a:link {
  color:#880e4f;
}

a:hover {
  opacity: 0.8;
}

h1 a {
  text-decoration: none;
  font-size-adjust: .2;
}

.center {
  width: 720px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -200px;
}

.badge {
  width: 300px;
  height: 240px;
  font-family: 'Kaushan Script', cursive;
  background: #880e4f;

  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  font-size: 20px;
  letter-spacing: 1px;
  display: block;
  margin: auto;
  text-transform: capitalize;
  position: relative;
}

.badge h1 {
  color: #f8bbd0;
  position: absolute;
  margin-top: -28px;
  text-align: center;
  height: 50px;
  width: 100%;
  top: 50%;
}

.card {
  display: block;
  font-size: 18px;
  width: 640px;
  display: block;
  margin: auto;
}

.projects {
  display: flex;
}

.project {
  width: 25%;
}

.project li {
  font-size: .8em;
  list-style: circle;
}
